<%- include("../partials/header")%>



<div class="text-center jumbotron bg-white">
   
    <h2>Add a New Item to "<%=category.name%>"</h2>

    <form action="/categories" method="POST">
        <div class="form-group">                    
            <input type="text" class="form-control" name="name" placeholder="Item Name">
        </div>
        <div class="form-group">                    
                <input type="text" class="form-control" name="image" placeholder="Image URL">
        </div>

        <div class="form-group">                    
                <textarea rows="4" type="text" class="form-control" name="description" placeholder="Description"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-outline-primary btn-block">Submit!</button>
        </div>
        

    </form>




</div>

<%- include("../partials/footer")%>